.toggleGoals {
  color: rgb(125, 50, 100);
  background-color:rgb(225, 200, 225);
  width:95%;
  margin:12px;
  padding:12px;
  border-radius:5px;
}

.toggleGoals:focus, 
.toggleGoals:hover {
  color: white;
  background-color: rgb(150, 40, 75);
  outline: none;
}

.addGoal {
  font-size: 18px;
}

.addGoal input[type='text'],[type='number'] {
  flex-grow: 1;
  max-width: 30vh;
  max-height: 3vh;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.addGoal button {
  color:rgb(120, 30, 55);
  background-color: rgb(220, 160, 200);

  margin-top: 15px;
  margin-left: 1vh;
}

.addGoal button:hover {
  color:white;
  background-color: rgb(150, 40, 75);
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: rgb(175, 125, 175);
  color: white;
  border-radius: 10px;
}

.goal:first-child {
  margin: 0;
}

.goal input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.goal input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.goal > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.goal p {
  font-size: 0.75rem;
}

.goal button {
  color:rgb(120, 30, 55);
  background-color: rgb(225, 200, 225);
}

.goal button:hover {
  color:white;
  background-color: rgb(255, 100, 100);
}

.goal:hover {
  background-color: rgb(215, 150, 200);
}